<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h3 class=" text-secondary"> Our Story</h3>
                    <hr style="color: green;">
                    <h6 class=" text-secondary">
                        NeST Digital, a subsidiary of the NeST Group, has been transforming businesses, 
                        providing customized and innovative software solutions and services for our customers across the globe.
                    </h6>
                    
                    

                </div>
            </div>

        </div>
    </div>
</div>
