<div class="bg-image d-flex justify-content-center align-items-center"
style=" background-image: url('https://img.freepik.com/premium-photo/black-stone-texture-dark-slate-background-top-view_88281-1206.jpg?w=2000');height: 100vh;background-repeat: no-repeat;">
<div class="card align-items-center" >
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                               <div class="row g-3 mt-4">
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    
                                    <h2 class="text-center text-Secondary">Employee  Login </h2>
                                    
                                </div>
                                
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label text-dark">User name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label text-dark">password</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                                    <button class="btn btn-success" >Login</button>
                                    <p class="text-danger p-2">Not a Member?,<a routerLink="/empreg"  >Signup</a></p>
                                </div>
                               </div>
                </div>
            </div>
        </div>
      
      
    </div>
</div>

</div>
    
