<div class="bg-image d-flex justify-content-center align-items-center" 
            style="background-image: url('https://wallpaperaccess.com/full/16668.jpg');height: 100vh ;position: relative;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row g-4 mt-4">
                    <h2 class="text-center text-light">Admin Login</h2>
                    <hr>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label text-light">User Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label text-light">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 text-center">
                        <a routerLink="/viewcourse" class="btn btn-light">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
