
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Course Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Course Date</th>
                    <th>Venue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td >Java developer</td>
                    <td>Inspector:Jas</td>
                    <td> 4 Month</td>
                    <td>23-12-22</td>
                    <td>Virtual</td>
                  </tr>
                </tbody>
            </table>      
        </div>
    </div>
</div>

